#horizintal{
    list-style-type: none;
    background-color: blueviolet;
    margin-bottom: 200px;
    padding: 200px;
    overflow: hidden;
}

#horizontal ul li{
    float: left;
}
   
#horizontal ul li a{
    background-color: blueviolet;
    padding: 200px;
    text-decoration: none;
}

#horizintal ul li a:hover{
    background-color: brown;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.display p{
    text-align: center;
    padding-left: 50px;
}