body{
    font-family: Arial, Helvetica, sans-serif;
    background: #0b0b0b;
    color: #e9eee9;
}

nav{
    margin: 20px;
}

nav ul{
    list-style: none;
    text-align: center;
}

nav li{
    border: red;
    margin: 10px;
    padding: 10px;
    width: 100px;
    height: 100px;
}

nav img{
    width: 50px;
    height: 50px;
    float: left;
}