/* article p{
    background: red;
    color: white;
    padding: 20px;
} */


article div p{
    background: blue;
    padding: 20px;
}

article > p{
    background: red;
    padding: 20px;
}

article ~ p{
    background: yellow;
    padding: 20px;
}

article + p{
    background: orange;
}

input:in-range {
    border: solid green;
}

input:out-of-range {
    border: solid red;
}

main p:first-child{
    background: gray;
}

#link:hover{
    background: purple;
}

nav a{
    padding: 20px;
    margin: 20px;
}

nav{
    background-color: black;
    padding: 20px;
}

nav a:hover{
    background-color: darkorange;
}

nav a:active{
    background: cyan;
}

nav a:visited{
    color: green;
}