/* article p{
    background: red;
    color: white;
    padding: 20px;
} */


article div p{
    background: blue;
    padding: 20px;
}

article > p{
    background: red;
    padding: 20px;
}

article ~ p{
    background: yellow;
    padding: 20px;
}

article + p{
    background: orange;
}

input:in-range {
    border: solid green;
}

input:out-of-range {
    border: solid red;
}

main p:first-child{
    background: gray;
}