.container{
    display: flex ;
    background-color: blue;
}

.container div{
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 35px;
}

.container2 div:nth-child(1){
    flex-grow: 2;
}

.container div:nth-child(1){
    order: 2;
    flex-grow: 3;
}

.container div:nth-child(2){
    order: 3;
}

.container div:nth-child(3){
    order: 0;
}

.container div:nth-child(4){
    order: 1;
}
.container2{
    display: flex ;
    background-color: blue;
    flex-direction: column-reverse;
}

.container2 div{
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 35px;
}

.container3{
    display: flex ;
    background-color: lightgreen;
    flex-direction: row;
    justify-content: space-around;
}


.container3 div{
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 35px;
}

.container4{
    display: flex ;
    background-color: red;
    flex-direction: row;
    justify-content: flex-end;
    height: 200px;
}

.container4 div{
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 35px;
    height: 50px;
}

.container4 div:nth-child(2){
    align-self: flex-end;
}

/* align-items: stretch, flex-start, flex-end, center */
.container5{
    display: flex;
    background-color: aqua;
    flex-direction: row;
    height: 200px;
    align-items: stretch;
}

.container5 div{
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 35px;
}

/*align-content: flex-start, flex-end, center, space-between, space-around, stretch */

.container6{
    display: flex;
    background-color: aquamarine;
    flex-direction: row;
    margin: 10px;
    align-content: stretch;
    flex-wrap: wrap;
}

.container6 div{
    background-color: aliceblue;
    margin: 10px;
    padding: 20px;
    width: 400px;
    height: 200px;
}